<form class="form flex flex-center" [formGroup]="registrationForm">
    <h3>Regisztráció</h3>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Név</mat-label>
        <input type="text" matInput formControlName="name">
        <mat-error *ngIf="registrationForm.get('name')?.hasError('required')">A név megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input type="email" matInput formControlName="email">
        <mat-error *ngIf="registrationForm.get('email')?.hasError('required')">Email megadása kötelező</mat-error>
        <mat-error *ngIf="registrationForm.get('email')?.hasError('email')">Érvénytelen email</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Cím</mat-label>
        <input type="text" matInput formControlName="address">
        <mat-error *ngIf="registrationForm.get('address')?.hasError('required')">A cím megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Jelszó</mat-label>
        <input type="password" matInput formControlName="password">
        <mat-error *ngIf="registrationForm.get('password')?.hasError('required')">A jelszó megadása kötelező</mat-error>
    </mat-form-field>

    <mat-form-field class="form-field" appearance="outline">
        <mat-label>Jelszó megerősítése</mat-label>
        <input type="password" matInput formControlName="confirmPassword">
        <mat-error *ngIf="registrationForm.get('confirmPassword')?.hasError('required')">A jelszó megerősítése kötelező</mat-error>
        <mat-error *ngIf="registrationForm.hasError('confirmPasswordRequired')">A jelszó megerősítése nem lehet üres</mat-error>
        <mat-error *ngIf="registrationForm.hasError('passwordMismatch')">A jelszavak nem egyeznek</mat-error>
    </mat-form-field>

    <button mat-stroked-button (click)="submit()">Regisztráció</button>
</form>
