<nav class="navbar">
  <div class="text">
    <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home"></mat-icon>
    apróhirdetések
  </div>

  <div class="buttonDiv" *ngIf="!isMobile">

    <mat-menu #categoriesMenu="matMenu">
      <button mat-menu-item class="hirdetesek" [routerLink]="'/ads'">Hirdetések</button>
      <button mat-menu-item *ngFor="let category of categories" [routerLink]="['/ads', category.name]">
        <span class="category-name">{{ category.name }}</span>
      </button>
    </mat-menu>
    

    <!-- Más menüpontok -->
    <button mat-button *ngIf="!(isLoggedIn$ | async)" [routerLink]="'/registration'">Regisztráció</button>
    <button mat-button *ngIf="!(isLoggedIn$ | async)" [routerLink]="'/login'">Login</button>
    
    <button mat-button [matMenuTriggerFor]="categoriesMenu" *ngIf="isLoggedIn$ | async" >Hirdetések</button>
    <button mat-button *ngIf="isLoggedIn$ | async" [routerLink]="'/profile'">Saját profil</button>
    <button mat-button *ngIf="isLoggedIn$ | async" [routerLink]="'/logout'">Kijelentkezés</button>
  </div>

  <!-- Hamburger menü ikon (csak mobilon) -->
  <button *ngIf="isMobile" mat-icon-button (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
</nav>

<!-- Mobil menü -->
<div *ngIf="isMobile && isMenuOpen" class="mobile-menu">

  <mat-menu #categoriesMenu="matMenu">
    <button mat-menu-item class="hirdetesek" [routerLink]="'/ads'">Hirdetések</button>
    <button mat-menu-item *ngFor="let category of categories" [routerLink]="['/ads', category.name]">
      <span class="category-name">{{ category.name }}</span>
    </button>
  </mat-menu>
  
  
  <button mat-button *ngIf="!(isLoggedIn$ | async)" [routerLink]="'/registration'">Regisztráció</button>
  <button mat-button *ngIf="!(isLoggedIn$ | async)" [routerLink]="'/login'">Login</button>
  
  <button mat-button *ngIf="isLoggedIn$ | async"  [matMenuTriggerFor]="categoriesMenu">Hirdetések</button>
  
  <button mat-button *ngIf="isLoggedIn$ | async" [routerLink]="'/profile'">Saját profil</button>
  <button mat-button *ngIf="isLoggedIn$ | async" [routerLink]="'/logout'">Kijelentkezés</button>
</div>
