<nav class="navbar">
  <div class="buttonDiv" *ngIf="!isMobile">
    <!-- Hirdetések menü -->
    <button mat-button>Regisztráció</button>
    <button mat-button>Login</button>
    <button mat-button [matMenuTriggerFor]="categoriesMenu">Hirdetések</button>
    <mat-menu #categoriesMenu="matMenu">
      <button mat-menu-item *ngFor="let category of categories">{{ category.name }}</button>
    </mat-menu>
    <button mat-button>Saját profil</button>
    <button mat-button id="logout">Kijelentkezés</button>
  </div>

  <!-- Hamburger menü ikon (csak mobilon) -->
  <button *ngIf="isMobile" mat-icon-button (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
</nav>

<!-- Mobil menü -->
<div *ngIf="isMobile && isMenuOpen" class="mobile-menu">
  <button mat-button>Regisztráció</button>
    <button mat-button>Login</button>
  <button mat-button [matMenuTriggerFor]="categoriesMenu">Hirdetések</button>
  
  <mat-menu #categoriesMenu="matMenu">
    <button mat-menu-item *ngFor="let category of categories">{{ category.name }}</button>
  </mat-menu>
  <button mat-button>Saját profil</button>
  <button mat-button>Kijelentkezés</button>
</div>
