<nav class="navbar">
    <div class="buttonDiv">
      <button mat-button [matMenuTriggerFor]="categories">Hirdetések</button>
      <mat-menu #categories="matMenu">
        <button mat-menu-item>Ingatlan</button>
        <button mat-menu-item>Gépjárművek</button>
        <button mat-menu-item>Háztartási gépek</button>
        <button mat-menu-item>Játékok</button>
        <button mat-menu-item>Ruházat</button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="profileMenu">Saját profil</button>
      <mat-menu #profileMenu="matMenu">
        <button mat-menu-item>Profilom</button>
        <button mat-menu-item>Kijelentkezés</button>
      </mat-menu>
    </div>
  
    <!-- Hamburger menü ikon (csak mobilon) -->
    <button *ngIf="isMobile" mat-icon-button (click)="toggleMenu()">
      <mat-icon>menu</mat-icon> <!-- Itt a menu ikon -->
    </button>
  </nav>
  
  <div *ngIf="isMenuOpen" class="mobile-menu">
    <button mat-button [matMenuTriggerFor]="categories">Hirdetések</button>
    <button mat-button [matMenuTriggerFor]="profileMenu">Saját profil</button>
  </div>
  