.navbar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #181818;
    padding: 20px;
    color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  }
  
  button {
    color: white !important;
    font-size: 1.1em; 
    padding: 10px 20px;  
  }
  button:hover, #logout {
    color: rgb(226, 224, 224) !important;
  }
#logout:hover{
  color: rgb(150, 150, 150) !important;
}

  /* Asztali nézet*/
  @media (min-width: 826px) {
    button {
      font-size: 1.4em;
      padding: 12px 25px;
    }
    .mobile-menu{
      visibility: hidden !important;
    }
  }
  
  /* Mobil nézethez: */
  @media (max-width: 825px) {
    .buttonDiv {
      visibility: hidden !important;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      background-color: #252525ef;
      padding: 10px;
      gap: 10px;
    }
  
   
    .mobile-menu button {
      color: white;
    }
  }
  