<div class="ads-container">
  <mat-card class="ad-card">
    <mat-card-header class="ad-header">
      <div class="header-content">
        <div class="top">
          <div class="user-info">
            <mat-icon matTooltip="Felhasználó profilja" class="profile-icon">account_circle</mat-icon>
            <span class="user-name">{{ advertisement?.user?.name }}</span>
            <span class="user-id">ID: {{ advertisement?.user?.id }}</span>
          </div>

          <div class="user-info">
            <mat-card-actions>
              <button mat-button color="primary" class="buy-button">Megveszem</button>
            </mat-card-actions>
          </div>
        </div>

        <mat-card-title class="ad-title">
          <div class="category-info">
            <span class="title category">Kategória:</span>
            <span [style.background-color]="advertisement?.category?.color" class="title category">{{ advertisement?.category?.name }}</span>
          </div>
        </mat-card-title>
      </div>
    </mat-card-header>

    <img mat-card-image [src]="advertisement?.imageUrl" alt="Advertisement image" class="ad-image">

    <mat-card-content class="ad-description">
      <mat-expansion-panel >
        <mat-expansion-panel-header>
          <mat-panel-title>Leírás:</mat-panel-title>
        </mat-expansion-panel-header>

        <div class="category-info">
          <div class="title">{{ advertisement?.description }}</div>
        </div>

        <div class="product-info">
          <div class="category-info">
            <span style="background-color:#2b2b2b;" class="title">Termék:</span>
            <span class="title">{{ advertisement?.title }}</span>
          </div>
          <div class="category-info">
            <span style="background-color:#2b2b2b;" class="title">Ár:</span>
            <span class="title">{{ advertisement?.price }} Ft</span>
          </div>
          <div class="category-info">
            <span style="background-color:#2b2b2b;" class="title">Cím:</span>
            <span class="title">{{ advertisement?.user?.address }}</span>
          </div>
          <div class="category-info">
            <span style="background-color:#2b2b2b;" class="title">Email:</span>
            <span class="title">
              <ng-container>{{ advertisement?.user?.email }}</ng-container>
            </span>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-card-content>
  </mat-card>
</div>
